:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

a {
  transition: 0.3s all;
}

a:hover {
  scale: 1.01;
}

p {
  cursor: default;
}
